<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="{{keywords}}" />
    <title>{{title}}</title>
    <style>
      html {
        height: 100%;
        margin: 0;
      }
      body {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-family: sans-serif;
      }
      .first-row {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #666;
      }
      .first-row #letter-box {
        color: #333;
        height: 36px;
        border: 2px solid #e94136;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        font-size: 24px;
      }
      .first-row #letter-box::before {
        content: '';
        height: 1px;
        width: 100%;
        position: absolute;
        top: 34%;
        left: 0;
        background-color: #e94136;
        z-index: -1;
      }
      .first-row #letter-box::after {
        content: '';
        height: 1px;
        width: 100%;
        position: absolute;
        top: 67%;
        left: 0;
        background-color: #e94136;
        z-index: -1;
      }
      .first-row #letter-box .letter {
        display: inline-block;
        width: 50px;
        height: calc(100% - 3px);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        position: relative;
        padding-bottom: 3px;
      }
      .first-row #letter-box .letter::before {
        content: '';
        top: 0;
        bottom: 0;
        border-left: 2px solid #e94136;
        position: absolute;
        left: 100%;
      }
      #inquiry-link {
        margin-left: 10px;
        display: inline-block;
        line-height: 24px;
        border-radius: 4px;
        width: 80px;
        text-align: center;
        font-family: sans-serif;
        font-size: 12px;
        background-color: #666;
        color: white;
        text-decoration: none;
        transition: background-color linear 0.2s;
      }
      #inquiry-link:hover {
        background-color: #333;
      }
      #char-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333;
        border: 2px solid #e94136;
        top: -2px;
        width: 200px;
        font-family: KaiTi, STKaiti;
        font-size: 30px;
        font-weight: bold;
      }
      #char-box::before {
        content: '';
        border-top: 1px dashed #e94136;
        width: 100%;
        position: absolute;
        top: 50%;
      }
      #char-box .char {
        display: inline-block;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        position: relative;
      }
      #char-box .char::before {
        content: '';
        height: 100%;
        border-left: 2px solid #e94136;
        position: absolute;
        left: 100%;
        z-index: -1;
      }
      #char-box .char::after {
        content: '';
        height: 100%;
        border-left: 1px dashed #e94136;
        position: absolute;
        left: 50%;
        z-index: -1;
      }
      .second-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #666;
      }
      #good-luck-button {
        border: none;
        background: #e94136;
        color: white;
        border-radius: 4px;
        font-size: 20px;
        width: 122px;
        height: 40px;
      }
      #copyright {
        position: absolute;
        left: 50%;
        bottom: 10px;
        width: 320px;
        margin-left: -160px;
        font-family: sans-serif;
        font-size: 12px;
        text-align: center;
        color: #999;
      }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
